<!DOCTYPE html>

<html lang='en'>

<head>
    <title>Proptit Chatbox</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/message.css">

    <style>
        textarea {
            resize: none;
        }

        .content:before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;

            display: block;
            /*background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');*/
            background-image: url('/images/anime-background-wallpaper-17.jpg');
            /*background-image: url('/images/background.jpg');*/
            background-size: 100% 100%;
            width: 100%;
            height: 100%;

            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
        }

        .content {
            overflow: auto;
            position: relative;
        }

        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }

        .padding-row {
            padding-top: 7.5px;
            padding-bottom: 7.5px;
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 0px;
            margin-right: 0px;
        }
    </style>
    <style>
        #custom_carousel .controls a small {
            font-size: 1em !important;
        }

        #menu {
            font-family: serif;
        }

        .carousel-inner {
            overflow: visible;
        }

        #custom_carousel .item {
            height: auto;
            padding: 10px 0;
            overflow: visible;
        }

        #custom_carousel .controls {
            overflow-x: visible;
            overflow-y: visible;
            padding: 0;
            margin: 0;
            white-space: nowrap;
            text-align: center;
            position: relative;
        }

        #custom_carousel .controls li {
            display: table-cell;
            width: 1%;
            max-width: 90px
        }


        #custom_carousel .controls a small {
            overflow: hidden;
            display: block;
            font-size: 10px;
            margin-top: 5px;
            font-weight: bold
        }

        .user-name {
            color: darkviolet;
        }

        .welcome {
            color: darkcyan;
        }

        .well {
            background-color: white;
        }
    </style>
    <script>
        $(document).ready(function (ev) {
            $('#custom_carousel').on('dropdown.bs.carousel', function (evt) {
                $('#custom_carousel .controls li.active').removeClass('active');
                $('#custom_carousel .controls li:eq(' + $(evt.relatedTarget).index() + ')').addClass(
                    'active');
            })
        });
    </script>
</head>

<body class='content'>

    <div class='container-fluid'>
        <div class='row' style='margin-top:50px;'>
            <div class='col-md-4'>
                <!--<img  src="/images/logo.png" style='width: 100%;'>-->
            </div>
            <div class='col-md-4 centering'>
                <img src="/images/banner.png" style='width: 100%;'>
            </div>
        </div>

        <div class='row' style='margin-top: 50px;'>

            <div class='col-md-4' style=' margin-left:10px; '>

                <div id='emoticon_bar' class='row top_menu' style='height: 500px;; max-height: 603px; display: none; border-radius: 10px; '>
                    <div class="container-fluid" style='height: 100%; max-height: 100%;'>
                        <div id="custom_carousel" class="carousel dropdown" data-ride="carousel" data-interval="0" style='height: 100%; max-height: 100%;'>



                            <div class="controls">
                                <ul class="nav" id='tabs'>
                                    <li data-target="#custom_carousel" data-slide-to="0" class="active">
                                        <a href="#"><img src="http://rs421.pbsrc.com/albums/pp299/treante/emoticon/rokok.gif~c200" style="width:48px;height:48px;"><small>Yoyo</small></a>
                                    </li>
                                    <li data-target="#custom_carousel" data-slide-to="1">
                                        <a href="#"><img src="http://blog.uhm.vn/emo/onion/22.gif" style="width:48px;height:48px;"><small>Onion</small></a>
                                    </li>
                                    <li data-target="#custom_carousel" data-slide-to="2">
                                        <a href="#"><img src="http://blog.uhm.vn/emo/babysoldier/10.gif" style="width:48px;height:48px;"><small>Soldier</small></a>
                                    </li>
                                    <li data-target="#custom_carousel" data-slide-to="3">
                                        <a href="#"><img src="http://blog.uhm.vn/emo/bpopo/65.gif" style="width:48px;height:48px;"><small>Popo</small></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" id='icons' style='height: 80%; max-height: 80%; overflow: auto;'>
                                <!-- End Item -->
                            </div>
                            <!-- End Carousel Inner -->
                        </div>
                        <!-- End Carousel -->
                    </div>
                </div>


            </div>

            <div class='col-md-4'>
                <div class='row'>

                    <div class="top_menu">
                        <div class="buttons">
                            <div class="button close"></div>
                            <div class="button minimize"></div>
                            <div class="button maximize"></div>
                        </div>
                        <div class="title">Chat</div>
                    </div>
                    <div class="messages" style='background-color: white;' id='content'>

                    </div>
                    <div class="bottom_wrapper clearfix">
                        <div class="input-group">
                            <textarea id='textarea' class="form-control custom-control" rows="2" style="resize:none" placeholder="Type something"></textarea>
                            <span onclick="$('#emoticon_bar').slideToggle('fast');" class="input-group-addon btn btn-default"><i class="fa fa-smile-o" aria-hidden="true"></i></span>
                            <span onclick="sendMessage()" id='buttonSend' class="input-group-addon btn btn-success"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</span>
                        </div>

                    </div>
                </div>
                <!--<div class='row'>
                    <input id='name' class="form-control" type="text" name="name" value="name" readonly>
                </div>-->
                <!--<div class='row' style='margin-top:10px;'>
                    <div id='content' class='form-control messages' style="height: 500px; overflow-y: scroll;">

                    </div>
                </div>-->
                <!--<div class='row' style='margin-top:100px;'>
                    <div class="input-group">
                        <textarea id='textarea' class="form-control custom-control" rows="2" style="resize:none" placeholder="Type something"></textarea>
                        <span onclick="$('#emoticon_bar').slideToggle('fast');" class="input-group-addon btn btn-default"><i class="fa fa-smile-o" aria-hidden="true"></i></span>
                        <span onclick="sendMessage()" id='buttonSend' class="input-group-addon btn btn-success"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</span>
                    </div>
                </div>-->


            </div>
            <div class='col-md-2'>
                <div class="pre-scrollable list-group" style='max-height: 300px;' id='onlineUsers'>

                    <!--<a class="list-group-item" href="#"><i class="fa fa-circle" style="color:green" aria-hidden="true"></i>&nbsp; Home</a>-->
                </div>
            </div>
        </div>
    </div>

    <script src='/socket.io/socket.io.js'></script>

    <script>
        var socket = io.connect('/');

        socket.on('connect', function () {
            console.log('connected to server!');
            var username = prompt('Your name?');
            if (username == null || username === '') {
                username = 'NoName';
            }
            socket.emit('newUser', username);
            $('#name').val(username);
        });

        socket.on('updateChat', function (name, message) {
            // console.log('update chat log: ' + name + ' send ' + message);
            // $('#content').append('<div>' + '<span class="user-name">[' + name + ']:</span> ' + message +
            //     '</div>');
            $('#content').append('<div class="message left appeared"><span class="user-name left text">[' +
                name + ']:</span><div class="text_wrapper"><div class="text"> ' + message +
                '</div></div></div>')
            $('#content').scrollTop($('#content').get(0).scrollHeight);
        });
        socket.on('selfUpdateChat', function (message) {
            $('#content').append(
                '<div class="message right appeared"><div class="text_wrapper"><div class="text"> ' +
                message +
                '</div></div></div>')
            $('#content').scrollTop($('#content').get(0).scrollHeight);

        });
        socket.on('updateUsersOnline', function (users) {
            $('#onlineUsers').empty();
            // console.log(users);
            $.each(users, function (key, value) {
                $('#onlineUsers').append(
                    "<a class='list-group-item' href='#' ><i class='fa fa-circle' style='color:green' aria-hidden='true'></i>&nbsp; " +
                    value + "</a>"
                );
            });
        })


        $('#textarea').keypress(function (e) {
            if (e.which === 13 && e.shiftKey == false) {
                sendMessage();
                e.preventDefault();
                // $(this).html('')
            }
        });


        $(document).ready(function () {
            $.getJSON("emotions", function (data) {

                $.each(data, function (key, val) {
                    // console.log("<li id='" + key + "'>" + val + "</li>");
                    // console.log(val[0].link);
                    var s = "";
                    if (key != 'yahoo') {
                        s += "<div class='item" + (key === 'yoyo' ? " active" : "") +
                            "'><div class='container-fluid'>";

                        var len = parseInt(val.length / 6);
                        var du = val.length % 6;
                        // console.log(val.length+" "+len+" "+du);
                        var pos = 0;
                        for (var i = 0; i < len; i++) {
                            s += "<div class='row'>";
                            for (var j = 0; j < 6; j++) {
                                s += "<div class='col-md-2 '>";
                                s += "<a  onClick='addEmotion(" + val[pos].code +
                                    ");'><img src='" + val[pos].link +
                                    "' style='width:48px;height:48px;'></a>";
                                s += "</div>";
                                pos++;
                            }
                            s += "</div>";
                        }
                        s += "<div class='row'>";
                        for (var i = 0; i < du; i++) {
                            s += "<div class='col-md-2 '>";
                            s += "<a  onClick='addEmotion(" + val[pos].code +
                                ");'><img src='" + val[pos].link +
                                "' style='width:48px;height:48px;'></a>";
                            s += "</div>";
                            pos++;
                        }
                        s += "</div>";
                        s += "</div></div>";
                        // console.log(s);
                        $('#icons').append(s);
                    }
                });
            });
        });

        function sendMessage() {
            var val = $('#textarea').val();
            if (val != null && val != '') {
                socket.emit('sendMessage', val);
                // console.log('sendMessage: ' + $('#textarea').val());
                $('#textarea').val("");
            }
        }

        function addEmotion(code) {
            oldVal = $('#textarea').val();
            $('#textarea').val(oldVal + '{' + code + '}');
            $('#textarea').focus();
        }
    </script>
</body>

</html>